<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>羽风</title>
  <link href="{{ resource.style}}" rel="stylesheet"/>
</head>
<body>

<header class="header">
  <div class="logo">
    <a href="/"></a>
  </div>
</header>

{% block body %}
This is the default content
{% endblock %}

<article class="container article">
  <header>
    <div class="time-wrap">
      <time datetime="2011-04-21">April 21, 2011</time>
    </div>
    <h1 class="title">{{ article.title }}</h1>
    <div class="hr-line"></div>
  </header>

  <div class="container">
    <div class="article-body">{{ article.text | safe }}</div>
  </div>
</article>
</body>
</html>
